<div class="row">
        <div class="col col-lg-6 col-md-5 col-sm-4 col-xs-3">
            &nbsp;
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-7">
            <div class ="panel panel-info"> 
                <div class="panel-heading">                    
                    <div class="form-group">                        
                        <%if @current_user_fitbit_configured == true %>
                            <p> Hi,</p>
                            <p> <%= @current_user_email %>,</p>
                            <p> <%= @current_user_last_update_time%>  </p>
                            <p> <%= @current_user_fitbit_configured%> </p> 
                            <p> <%= @token %> </p>
                        <%else%>
                            <p> Hi,</p>
                            <p><%= @current_user_email %></p>
                            <p> <%= @current_user_last_update_time%> </p>
                            <p> <%= @current_user_fitbit_configured%></p>
                            <p> <%= @user.fitbitkey %> </p>
                            <p><a class="btn btn-primary btn-lg btn-block" href=<%=ENV["FITBIT_URL"]%> role="button">CONFIGURE FIT BIT</a> </p>
                        <%end%>
                    </div>
                </div>
            </div>    
        </div>
</div>
