<div class="row">
        <div class="col col-lg-6 col-md-5 col-sm-4 col-xs-3">
            &nbsp;
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-7">
            <div class ="panel panel-info"> 
                <div class="panel-heading">                    
                    <div class="form-group">                        
                        <%if @current_user_fitbit_configured == false || @current_user_fitbitkey == nil%>
                            <p> Hi,</p>
                            <p><%= @current_user_email %></p>                            
                            <!--p> <%= @current_user_fitbit_configured%></p-->                            
                            <%if @current_user_fitbitkey == nil || @current_user_fitbit_configured == false%>
                                <p><a class="btn btn-primary btn-lg btn-block" href=<%=ENV["FITBIT_URL"]%> target="_self" role="button">ADD FITBIT DEVICE</a> </p>                                                            
                            <%end%>
                        <%else%>
                            <p> Hi,</p>
                            <p> <%= @current_user_email %>,</p>
                            <p> <%= @current_user_last_update_time%>  </p>
                            <!--p> <%= @current_user_fitbit_configured%> </p--> 
                            <p> FITBIT DEVICE ADDED</p>                                                        
                        <%end%>
                    </div>
                </div>
            </div>    
        </div>
</div>
