<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="registration">
    <div class="row">
        <div class="col col-lg-6 col-md-5 col-sm-4 col-xs-3">
            &nbsp;
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>Forgot your password?</h2>
                    &nbsp;
                    &nbsp;                  
                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Send me reset password instructions" %>
                    </div>
                    <% end %>
                    <p></p>
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>  
