<!DOCTYPE html>
<html>
  <head>
    <title>HealthDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      // Read the FitBit parameters.
      var hash = window.location.hash.substring(1);
      var params = {};
      hash.split('&').map(hk => { 
          let temp = hk.split('='); 
          params[temp[0]] = temp[1];
      });
      // Save the FitBit access token.
      var access_token = params.access_token;
  </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">HealthFit</a>
            <a type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/pages/about">About</a></li>
              <li><a href=<%=ENV["FITBIT_URL"]%>>Fitbit</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container page-body">
      <% if @hide_side_nav %>
          <div>&nbsp;</div>
          <div class="page-content">
            <%= yield %>
        </div>
  <% else %>
        <div class="row">
          <div class="col col-xs-2 navbar-left">
            &nbsp;
          </div>
          <div class="col col-xs-10">
            <div>&nbsp;</div>
            <div class="page-content">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <link_to "Sign Up", new_user_registration_path %>
              <link_to "Sign In", new_user_session_path %>
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <footer class="footer navbar-fixed-bottom">
        HealthFit
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
  </body>
</html>



